<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2 :title="tooltip" :class="employee_css">{{ employee }}</h2> <!-- see TEST01 --> 
    <input type="button" @click="changeCss()" value="Change Color"/>
  </div>
</template>

<script>
export default {
  name: 'hello'
  , data() {
    return {
      msg: 'Welcome to Your Vue.js App'
      , employee: 'David James'
      , tooltip: 'This is a ToolTIP'
      , employee_css: 'red'
    }
  }
  , methods: {
    changeCss: function () {
      this.employee_css = this.employee_css !== 'blue' ? 'blue' : 'red'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .red{color: red;}
  .blue{color: blue;}
</style>
